@import "../../styles/vars";

.dp-landwrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: calc(100vh - 152px);
	margin-bottom: 3rem;
	padding: 0 1rem;
	h1 {
		font-size: $h2;
		@media screen and (min-width: 850px) {
			font-size: $h1;
		}
	}
	h3 {
		font-size: $h3;
		text-align: center;
		width: 100%;
	}

}