{
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 70,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "singleAttributePerLine": false,
  "no-confusing-arrow": ["error", { "allowParens": false }]

}