@import "../../styles/vars";

.dp-landwrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 152px);
  margin-bottom: 3rem;
  padding: 0 1rem;
  height: auto;
  position: relative;
  .dp-land-inner {
    display: flex;
    width: 100%;
    min-height: 100vh !important;
    flex-direction: column;
  }
}

.dp-landwrapper header {
  width: 100%;
  margin-bottom: 3rem;
  @media screen and (max-width: 414px) {
    margin-bottom: 1rem;
  }
  h1 {
    font-size: $h2;
    margin-bottom: 1rem;
    @media screen and (min-width: 850px) {
      font-size: $h1;
    }
  }
  h3 {
    font-size: $h3;
    text-align: center;
    width: 100%;
  }
}

.dp-land-inner nav {
  transition: display 1s linear 50ms;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.dp-landwrapper section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  mix-blend-mode: luminosity;
  justify-content: space-between;
  @media screen and (max-width: 1279px) {
    width: 100%;
  }
}

.dp-landwrapper nav {
  flex: 0 1;
  background-color: $navigationBg;
  height: 100%;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1rem 0;
  @media screen and (width: 1280px) {
    margin-right: 0;
  }
  ul {
    list-style-type: none;
    margin: 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      border-bottom: 1px solid $white;

      transition: all .4s linear 100ms;
      padding: 0.75rem 1rem;
      width: 100%;
      margin-bottom: 0;
      text-align: center;
      &:hover {
        background-color: darken($lightBlack, 10%);
        border-bottom: 1px solid $white;
        cursor: pointer;
        border-radius: 0;
        &:active,
        &:focus {
          background: $black;
        }
      }

      a {
        color: white;
        font-size: $reg;
      }
    }
  }
}

.dp-landwrapper article {
  flex: 3 1;
  box-shadow: $min-boxshadow;
  background-color: $white;
  width: 100%;
  margin: inherit;
  padding: 2rem 0rem;
  @media screen and (max-width: 1279px) {
    padding: 2rem;
    width: 90%;
    margin: 0 auto;
  }
  @media screen and (max-width: 414px) {
    box-shadow: none;
    padding: 2rem 0;
    width: 100%;
  }
  h2 {
    width: 100%;
    font-size: $p;
    color: $pri;
    display: flex;
    width: 95%;
    justify-content: flex-end;
  }
  .article-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 950px;
    margin: 3rem 0;
    @media screen and (max-width: 414px) {
     
      margin: 1rem 0;
      section h3 {
        width: 100%;
        font-size: $h4;
        margin-bottom: 2rem;
        text-align: center;
      }
      section p {
        width: 100%;
        text-align: justify !important;
      }
      & > section {
        margin: 2rem 0;
      }
    }
    section > h3 {
      transition: all 0.35s linear 0ms;
      font-size: $h4;
      display: flex;
      margin: 1rem 0;
      color: $black;
      font-variant: common-ligatures;
    }
    section p {
      display: flex;
      color: lighten($black, 3%);
      margin: 2px 0;
      width: 100%;
      text-align: left;
    }
  }
}

/* accordion list */
.dp-accordionlist {
  
  button.accordion {
    transition: background-color .4s linear 50ms, color .4s linear 100ms;
     box-shadow: $min-boxshadow;
    display: flex;
    justify-content: space-between;
    color: $black;
    background-color: $navigationBg;
    color: $white;
   
    &:hover {
      background-color: darken($lightBlack, 10%);
      .accordion-title {
        color: $white;
      }
      svg.accordion-icon path {
        fill: $white;
      }
      
    }
    svg.accordion-icon path {
      fill: $white;
     
    }
    
  }
}

/* accordion section */
.accordion-section {
  border-bottom: 2px double lighten($white,3%);
}


.dp-sidewrap {
  position: fixed;
  left: 12vw;
  top: 26.2vh;
}