.social-wrapper {
	background: url("../../images/soc2bg.jpeg") repeat center 750px;
	background-color: rgba(0,0,0,.5);
	z-index: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 150px;
}

.thirdparty-providers {
	max-width: 350px;
	margin: 0 auto;
	button {
		z-index: 10;
		padding: .75rem 1.25rem;
	}
	
}

.google-btn {
	padding: 0 20px 0 0;
}